@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  overflow-x: hidden;
}
li {
  text-decoration: none;
  list-style-type: none;
}
/* img {
  width: 100%;
} */

::-moz-selection {
  /* Code for Firefox */
  background: #facc15;
}

::selection {
  background: #facc15;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply scroll-smooth bg-background text-foreground dark:selection:text-black;
  }
}

/* ----------------TAILWIND CUSTOM CLASSES */

@layer utilities {
  .icon_size {
    @apply h-8 w-8 lg-2k:h-12 lg-2k:w-12;
  }
  .page_heading {
    @apply text-5xl font-bold md:text-5xl lg:text-6xl;
  }
  .section_heading {
    @apply flex items-center text-wrap text-3xl font-bold tracking-tight lg:text-nowrap lg:text-4xl lg-2k:text-6xl;
  }
  .page_title {
    @apply text-4xl lg:text-6xl;
  }
  .page_para_heading {
    @apply text-2xl font-medium md:text-3xl lg-2k:text-4xl;
  }
  .page_para_subheading {
    @apply text-2xl font-medium lg-2k:text-3xl;
  }
  .page_para {
    @apply text-balance text-lg md:text-xl;
  }
}
